<nav class="p-2 d-flex">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/images/logo.png" alt="Logo" width="40" height="35" class="d-inline-block align-text-top">
            mockInterview.io
        </a>
    </div>
    <div>
        <a href="/logout"><Button class="btn btn-danger">Logout</Button></a>
    </div>
</nav>